[project]
	description = ICS3U Code From Class
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Kevin DesLauriers (kevindeslauriers)
[access "refs/for/refs/*"]
	read = group user/Kevin DesLauriers (kevindeslauriers)
	push = group user/Kevin DesLauriers (kevindeslauriers)
	label-Code-Review = -2..+2 group user/Kevin DesLauriers (kevindeslauriers)
	label-Verified = -1..+1 group user/Kevin DesLauriers (kevindeslauriers)
	rebase = group user/Kevin DesLauriers (kevindeslauriers)
	removeReviewer = group user/Kevin DesLauriers (kevindeslauriers)
	submit = group user/Kevin DesLauriers (kevindeslauriers)
[access "refs/heads/*"]
	read = group user/Kevin DesLauriers (kevindeslauriers)
	create = group user/Kevin DesLauriers (kevindeslauriers)
	push = +force group user/Kevin DesLauriers (kevindeslauriers)
	pushMerge = group user/Kevin DesLauriers (kevindeslauriers)
[access "refs/tags/*"]
	push = +force group user/Kevin DesLauriers (kevindeslauriers)
	pushTag = group user/Kevin DesLauriers (kevindeslauriers)
	pushSignedTag = group user/Kevin DesLauriers (kevindeslauriers)
